body,h1,h2,h3,div,p,ul,li,dl,dt,dd{margin:0;padding:0}
a{text-decoration:none;color:#000}
ul,li{list-style:none}
address{font-style:normal}
body{font-size:14px;
    font-family:'나눔고딕';
    line-height:1.5;
    padding-top: 100px;
}

.blind{position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden}

/* header */
.header_wap{
     height: 100px;
     background: linear-gradient(#fff 100px,#f5f5f5 50px,#f5f5f5);
     overflow: hidden;
     position: absolute;
     top: 0;
     right:0;
     left: 0;
     z-index: 2;
}

.header_bottom{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header_bottom h1{
    width: 220px;
    height: 90px;
    background: url(../images/logo.gif) no-repeat;
    text-indent: -9999px;
}

.header_bottom h1 a{display: block; height: 100px;}

/* gnb */
.gnb{
    width:915px;
    height: 20px;
    position: absolute;
    left: 330px;
    top: 60px;
}
.gnb>ul>li{
    float: left; 
    position: relative;
    font-family: 'noto sasn KR';
}
.gnb>ul>li>a{
    display: block;
    font-size: 15px;
    font-weight: bold;
    font-family: 'noto sasn KR';
    margin-right: 50px;
    float: left;
}
.gnb>ul>li a:hover{
    color: #E83E68;
    text-decoration: underline;
}
.gnb>ul>li ul{
    width: 100%;
    display: none;
    border: 1px #f5f5f5 solid;
    margin-top: 40px;
    margin-bottom: 40px;
}
.gnb>ul>li:hover ul{
    display: block;
}

.gnb>ul>li>ul li{
    margin-top: 20px;
    margin-bottom: 20px;
}
.gnb>ul>li>ul li:hover{
    /* background: #fff; */
    color: #E83E68;
    text-decoration: underline;
}
.gnb>ul>li>ul>li a{
    display: block;
    font-weight: bold;
    line-height: 30px;
    font-family: 'noto sasn KR';
    height: 30px;
    position: relative;
    margin-left: 10px;
}
.arrow::after{
    content:"";
    display: block;
    width:5px;
    height:5px;
    border-top:1px solid #333;
    border-right:1px solid #333;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right:3px;
    top:12px;
}


/* top_menu */
.top_menu_wrap{
    width: 360px;
    height: 26px;
    position: relative;
    bottom: 100px;
    left:  930px;
}

.search_2{
    background: url(../images/search2.gif) no-repeat;
    display:block;
    width: 21px;
    height: 16px;
    text-indent: -9999px;
    position: absolute;
    top:18px;
    left: -40px;
}

.top_menu_1{
    width: 360px;
    height: 26px;
}


fieldset{
    border: none;
}

.top_menu_1>ul>li{
    float: left;
}

.top_login{
    float: left;
}

.top_menu_1>ul>li a{
    display: block;
    width: 66px;
    height: 25px;
    border-radius: 5px;
    background: #F5F5F5;
    color: #474747;
    font-weight: bold;
    font-family: '본고딕';
    font-size: 12px;
    line-height: 25px;
    text-align: center;
}

.top_menu_1>ul>li a:hover{
    background: #1B2B52;
    color: #FFF;
}

/* lnb */
.lnb_wrap{
    height: 40px;
    background: #f5f5f5;
    bottom: 0px;
    margin: 0 auto 60px;
}

.lnb{
    width: 806px;
    position: relative;
    margin: 0 auto;
}
.lnb>ul li{
    float: left;
}

.lnb>ul>li a{
    display: block;
    font-size: 12px;
    margin-left: 50px;
    line-height: 40px;
}
.lnb>ul>li a:hover{
    color: #E83E68;
}
.lnb>ul>li a::after{
    content: " > ";
    color:#8e8e8e;
    margin: 0 0 0 40px;
}

/* login */
.login_wrap{
    height: 380px;
    background: #f5f5f5;
    margin: 0 auto 60px;
    position: relative;
}
.login{
    width: 1200px;
    height: 260px;
    padding-top: 60px;
    margin: 0 auto;
}
.login h2{
    position: absolute;
    top: -45px;
    margin-left: 200px;
}

.certifi_login{
    width: 420px;
    height: 240px;
    border-right: #8e8e8e solid 2px;
    margin-right: 240px;
    float: left;
    position: relative;
    bottom: 10px;
    left: 170px;
}

legend{
    font-size: 28px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
    text-align: center;
}
.certifi_button{
    width: 300px;
    height: 67px;
    margin-bottom: 64px;
    margin-left: 50px;
    border-radius: 2px;
    background: #1B2B52;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.logout{
    margin-left: 75px;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: '나눔고딕';
    font-weight: bold;
}
.logout_1{
    width: 170px;
    height: 25px;
}
.certi{ 
   width: 300px;
   height: 28px;
   margin-left: 65px;
}
.ps_certi{
    float: left;
    margin-right: 10px;
}
.certi> a{
    display: block;
    width: 130px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    border: 1px #8e8e8e solid;
    background: #fff;
    float: left;
}
.id_login{
    width: 400px;
    height: 240px;
    float: left;
    position: relative ;
    bottom: 10px;
}
label{
    margin-bottom: 10px;
    font-size: 13px;
    font-family: '나눔고딕';
}
.u_id{width: 219px;height: 34px;margin-bottom: 10px;}
.u_pwd{width: 219px;height: 34px;}

.loginbut{
    width:120px; 
    height:80px;
    margin-left: 250px;
    position: absolute;
    bottom: 95px;
    border-radius: 2px;
    background: #1B2B52;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.certi_use{
    margin: 10px 0 ;
    font-size: 12px;
    font-family: '나눔고딕';
    font-weight: bold;
}
.logout1{
    margin-bottom: 10px;
    font-size: 12px;
    font-family: '나눔고딕';
    font-weight: bold;
}
.logout_2{
    width: 170px;
    height: 25px;
}


.id_join, .id_find{
    display: block;
    width: 51px;
    height: 20px;
    margin-right: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    border: 1px #8e8e8e solid;
    background: #fff;
    float: left;
}

.password_enroll{
    display: block;
    width: 110px;
    height: 20px;
    margin-right: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    border-radius: 3px;
    border: 1px #8e8e8e solid;
    background: #fff;
    float: left;
}

/* login_ bottom */
.login_bottom{
    width: 600px;
    height: 160px;
    margin: 0 auto 90px;
}

.account_open{
    border-bottom: #8e8e8e solid 2px;
    width: 600px;
    height: 85px;
    margin-bottom: 20px;
}

.account_open h2{
    background: url(../sub_images/account_open.gif) no-repeat;
    text-indent: -9999px;
    width: 105px;
    height: 16px;
    margin-bottom: 5px;
}
.acc_txt{
    font-size: 12px;
    font-family: '나눔고딕';
    margin-bottom: 5px;
}

.account_open > a{
    display: block;
    width: 135px;
    height: 24px;
    border: 1px #8e8e8e solid;
    border-radius: 3px;
    font-size: 12px;
    font-family: '나눔고딕';
    box-sizing: border-box;
    line-height: 22px;
    text-align: center;
    float: left;
}

.note h2{
    background: url(../sub_images/note.gif) no-repeat;
    text-indent: -9999px;
    width: 105px;
    height: 16px;
    margin-bottom: 10px;
}

.note p {
    font-size: 12px;
    font-family: '나눔고딕';
    margin-bottom: 5px;
}


/* footer */
.footer{
    background: #F5F5F5;
    position: relative;
    height: 205px;
    width: 100%;
}

.footer_top{
    width: 1131px;
    height: 150px;
    margin:auto;
}

.footer_top h2 {
    background: url(../images/logo_footer.gif)no-repeat;
    width: 130px;
    height: 46px;
    text-indent: -9999px;
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
 
}
    
.footer_submenu{
    margin-left:30px;
    padding-top: 20px;
}

.bank{
    float: left;
    margin-right: 30px;
}
.channel{
    float: left;
    margin-right: 30px;
}
.inve{
    float: left;
}

.footer_center{
    text-align: center;
    width: 345px;
    height: 75px;
    margin: auto;
}

.footer_center h3{
    font-weight: bold;
    font-size: 18px;
}

.footer_txt{
    font-size: 12px;
}

.footer_tell{
    font-weight: bold;
    font-size: 20px;
}
.footer_tel1{
    width: 340px;
    height: 45px;
    margin: auto; 
    position: relative;
    left:  300px;
    bottom: 70px;   
}

.footer_tel1 p{
    float: left;
    margin-right: 10px;
}
.footer_tel2{
    width: 250px;
    height: 45px;
    margin: auto;
    position: relative;
    left: 255px;
    bottom: 50px;
}
.footer_tel2 p {
    float: left;
    margin-right: 10px;
}

.footer_bottom{
    width: 808px;
    height: 17px;
    margin: auto;
    position: relative;
    bottom: 20px;
}

.footer_text p{
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}

.comp::after{
    content: '|';
    margin: 0 5px 0 10px;
}

.info::after{
    content: '|';
    margin: 0 5px 0 10px;
}

.clie::after{
    content: '|';
    margin: 0 5px 0 10px;
}

.Tran::after{
    content: '|';
    margin: 0 5px 0 10px;
}

.Dorm::after{
    content: '|';
    margin: 0 5px 0 10px;
}